In [55]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [56]:
url = "https://www.billboard.com/charts/hot-100/"

In [57]:
response = requests.get(url)

In [58]:
response.status_code # 200 status code means OK!

200

In [ ]:
# 4.1. parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")
# 4.2. check that the html code looks like it should
print(soup.prettify())

In [ ]:
soup.select('div.o-chart-results-list-row-container')

In [ ]:
titles = []
artists = []

for title in soup.select('li.o-chart-results-list__item h3.c-title'):
    titles.append(title.get_text().strip())

for artist in soup.select('li.o-chart-results-list__item span.c-label.a-no-trucate'):
    artists.append(artist.get_text().strip())
artists

In [62]:
df = pd.DataFrame({
    'Title': titles,
    'Author': artists
})

In [63]:
df

                          Title                  Author
0                          Hiss     Megan Thee Stallion
1                   Lovin On Me             Jack Harlow
2                  Cruel Summer            Taylor Swift
3                  Lose Control             Teddy Swims
4                        Greedy              Tate McRae
..                          ...                     ...
95  Wildflowers And Wild Horses           Lainey Wilson
96            Northern Attitude  Noah Kahan With Hozier
97            All I Need Is You            Chris Janson
98                      My Eyes            Travis Scott
99                     Worth It    Offset & Don Toliver

[100 rows x 2 columns]