In [150]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [151]:
url = "https://www.billboard.com/charts/hot-100/"

In [152]:
response = requests.get(url)

In [153]:
response.status_code # 200 status code means OK!

200

In [154]:
soup = BeautifulSoup(response.content, "html.parser")

In [155]:
titles = []
artists = []

for title in soup.select('li.o-chart-results-list__item h3.c-title'):
    titles.append(title.get_text().strip().lower())

for artist in soup.select('li.o-chart-results-list__item span.c-label.a-no-trucate'):
    artists.append(artist.get_text().strip())

In [156]:
df = pd.DataFrame({
    'Title': titles,
    'Author': artists
})

In [157]:
df

                Title                       Author
0         lovin on me                  Jack Harlow
1        lose control                  Teddy Swims
2    beautiful things                 Benson Boone
3        cruel summer                 Taylor Swift
4              snooze                          SZA
..                ...                          ...
95           worth it         Offset & Don Toliver
96  northern attitude       Noah Kahan With Hozier
97    scared to start              Michael Marcagi
98         first love  Oscar Ortiz X Edgardo Nunez
99      where it ends             Bailey Zimmerman

[100 rows x 2 columns]

In [159]:
def search_for_song(song):
    song = song.lower()
    if (df['Title'].str.contains(song)).any():
        random_index = np.random.choice(df.index)
        print(f"Hey, here is another great song: {df.loc[random_index, 'Title'].title()}")
    else:
        title=False
        start(title)

In [160]:
def start(title):
    if title == True:
        song = input('Please input your favorite Song')
        search_for_song(song)
    else:
        song = input('Please try again your Song title is not in the top 100')
        search_for_song(song)

In [161]:
start(title=True)

Please input your favorite Song yes

Hey, here is another great song: Lil Boo Thang